@media screen and (min-width: 601px) {


    /* AQUI MOSTREI OS LINKS ESCONDIDOS EM TELAS MENORES */
    menu ul li.desk-tab{display: block;}

    /* AQUI ESCONDI OS NÃO PENTENCENTES EM TELAS MAIORES */
    menu ul li button#btn-Menu, #esc4{display: none !important;}

    /* CONFIGURAÇÃO PARA TODOS LINKS FLUTUAREM PARA ESQUERDA */
    menu ul li{float: left;}

    /* ADIONEI UMA SETA NO LINK "MORE"*/
    .aDrop{padding-right: 25px;}
    menu ul li .aDrop::after{
        content: " ";
        position: absolute;
        top: 45%;
        margin: 0  4px 0 3px;
        margin-right: 2px;
        border-width: 6px;
        border-style: solid;
        border-color: #fff transparent transparent;
    }

    /* CONFIGURAÇÃO DO MENU DROPDOWN */
    .content-drop{
        position: absolute;
        max-width: 200px;
        background-color: #fff;
        box-shadow: 2px 2px 10px #00000067;
        z-index: 1;
    }

    menu ul li.drop-box:hover .content-drop{display: block;}

    .content-drop a{color: #000;}

    .content-drop a:hover{background-color: #d4d4d4;}


    /* CONFIGURAÇÃO DO BOTÃO DE PESQUISA */
    menu ul li#pesquisa{
        display: inline-block;
        text-align: center;
        border: none;
        color: #fff;
        font-weight: bolder;
        font-size: 2em;
    }

    menu ul li#pesquisa:hover{
        cursor: pointer;
        background-color: #ff4848;
    }

    .btn-search{padding: 13px 20px 8px;}

}

/* CONFIGURAÇÃO DO HEADER */

header{min-height: 580px;}

/* SECTION-BAND */

.pai{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.filho{
    max-width: 800px;
}

.photograper-image{
    flex-flow: row nowrap;
    justify-content: space-around;
}

.photografer-box{
    width: 20%;
    align-self: center;
}

/* SECTION TOUR */

.section-tour{
    display: flex;
    flex-flow: row nowrap;
}

.tickets-for-sale{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

/* CAIXAS DOS BILHETES À VENDA */
.box-tickets{
    width: 32%;
}

/* MATEI AS MARGENS NAS CAIXAS DOS BILHETES À VENDA */
.tickets-for-sale .box-tickets{
    background-color: #fff;
    margin: 0;
}

/* SECTION-CONTACT */

.article-contact{
    width: 100%;
}

#contact-form{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: baseline;
    align-items: baseline;
}

#twins{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#imail,#inome{width: 48%;}