@charset "utf-8";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: width 0.3s ease-in-out;
}

menu{
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px #0000007c;
    width: 100%;
}

menu ul{
    list-style-type: none;
    background-color: #000000;
    overflow: hidden;
    width: 100%;
}

menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 13px 15px;
    transition: background-color 0.4s, color 0.3s, transform 0.3s ease-in-out;
}

menu ul li a:hover{
    background-color: #d3d3d3;
    color: #000;
}

menu ul li a:active, button.iconMenu:active{transform: scale(1, 0.9);}

menu ul li a.long-link{width: 100%;}

/*Links escondidos para devices moveis*/
menu ul li.big-menu{display: none;}

menu ul li.li-flex{
    display: flex;
    justify-content: space-between;
}

menu ul li.li-flex button.iconMenu{
    display: inline-block;
    border: none;
    background-color: #000;
    padding: 8px;
    color: #fff;
    transition: transform 0.3s;
}

menu ul li.li-flex button.iconMenu:hover{
    background-color: #d3d3d3;
    color: #000;
    cursor: pointer;
}

.hidden{display: none;}

header{
    height: 230px;
    background: url(../imagens/header/la.jpg) no-repeat center top;
    background-size: cover;
    animation-name: banner;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes banner {
    33%{background-image: url(../imagens/header/la.jpg);}
    66%{background-image: url(../imagens/header/chicago.jpg);}
    99%{background-image: url(../imagens/header/ny.jpg);}
}

.container{
    display: flex;
    flex-direction: column;
}

.section-dad{
    flex: 100%;
    justify-content: center;
    align-content: center;
    padding: 13% 3%;
}

.container .band .art-band{
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}

.container .band .art-band h2,h3{
    font-size: 1.8em;
    font-weight: normal;
    text-align: center;
    padding: 15px 0;
}

.container .band .art-band h3{
    color: #808080;
    font-size: 1.1em;
    font-weight: normal;
}

.container .band .art-band p{
    font-size: 1em;
    line-height: 1.3em;
    padding-bottom: 20px;
}

.container .band .art-band .image-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
    max-width: 80%;
    margin: 30px auto;
}

.band .art-band .image-section .container-img{
    text-align: center;
    margin: 20px 0;
}

.band .art-band .image-section .container-img .imgP{padding: 7px 7px 15px;}

.band .art-band .image-section .container-img img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}