@charset "utf-8";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: width 0.3s ease-in-out;
}

menu{
    top: 0;
    box-shadow: 0 0 10px #0000007c;
    width: 100%;
}

menu ul{
    list-style-type: none;
    background-color: #000000;
    overflow: hidden;
    width: 100%;
}

menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 13px 15px;
    transition: background-color 0.4s, color 0.3s, transform 0.3s ease-in-out;
}

menu ul li a:hover{
    background-color: #d3d3d3;
    color: #000;
}

menu ul li a:active, button.iconMenu:active{transform: scale(1, 0.9);}

menu ul li a.long-link{width: 100%;}

/*Links escondidos para devices moveis*/
menu ul li.big-menu{display: none;}

menu ul li.li-flex{
    display: flex;
    justify-content: space-between;
}

menu ul li.li-flex button.iconMenu{
    display: inline-block;
    border: none;
    background-color: #000;
    padding: 8px;
    color: #fff;
    transition: transform 0.3s;
}

menu ul li.li-flex button.iconMenu:hover{
    background-color: #d3d3d3;
    color: #000;
    cursor: pointer;
}

header{
    height: 230px;
    background: url(../imagens/header/la.jpg) no-repeat center top;
    background-size: cover;
    animation-name: banner;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes banner {
    33%{background-image: url(../imagens/header/la.jpg);}
    66%{background-image: url(../imagens/header/chicago.jpg);}
    99%{background-image: url(../imagens/header/ny.jpg);}
}

.container{
    display: flex;
    flex-direction: column;
}

.section-dad{
    flex: 100%;
    justify-content: center;
    align-content: center;
    padding: 15% 3%;
}

.container .band .art-band{
    max-width: 720px;
    margin: 0 auto;
    text-align: justify;
}

.container .band .art-band h2,h3{
    font-size: 1.8em;
    font-weight: normal;
    text-align: center;
    padding: 15px 0;
}

.container .band .art-band h3{
    color: #808080;
    font-size: 1.1em;
    font-weight: normal;
}

.container .band .art-band p{
    font-size: 1em;
    line-height: 1.3em;
    padding-bottom: 20px;
}

.container .band .art-band .image-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.container .band .art-band .image-section .container-img{
    text-align: center;
    margin: 12px 0;
}

img{
    width: 100%;
    height: auto;
    border-radius: 3px;
}


/*CONFIGURAÇÃO DA ÁREA TOUR*/

.container .tour{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    background-color: #000;
    padding: 15% 4%;
}

.container .tour .art-tour{max-width: 760px;}

.container .tour [class*="headingTour"]{
    text-align: center;
    color: #fff;
    font-size: 1.8em;
    font-weight: normal;
    padding: 13px 0;
}

.container .tour [class*="Tour1"]{
    font-size: 1em;
    color: gray;
}

.container .tour .avail-tickets{
    display: flex;
    flex-flow: column wrap;
    background-color: #fff;
    margin: 30px 0;
}

.container .tour .avail-tickets .avaliable-tickets{
    flex: 100%;
    padding: 10px 25px 10px 13px;
    border: 1px solid lightgray;
    color: gray;
    font-size: 1em;
}

.container .tour .avail-tickets .avaliable-tickets .ticket-info{
    display: inline-block;
    background-color: rgba(255, 41, 41, 0.925);
    padding: 3px 8px;
    color: #fff;
    margin: 0 15px;
}

.container .tour .avail-tickets .avaliable-tickets [class$="fo1"]{
    float: right;
    color: #fff;
    background-color: #000;
    border-radius: 100%;
    padding: 1px 5px;
}

.container .tour .art-tour .buy-ticket .each-buy{
    margin: 10px 0;
    background-color: #fff;
}

.container .tour .art-tour .buy-ticket .each-buy img{border-radius: 0;}

.container .tour .art-tour .buy-ticket .each-buy div{padding: 13px 8px 10px 15px;}

.container .tour .art-tour .buy-ticket .each-buy [class~="content-buy"]{
    margin: 6px 0;
    padding: 8px 0;
}

[class$="uy1"]{font-size: 1em;}

[class$="uy2"]{
    color: gray;
    margin: 4px 0;
    padding: 8px 0;
}

.container .tour .art-tour .buy-ticket .each-buy button{
    background-color: #000;
    border: none;
    color: #fff;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;
}

.container .tour .art-tour .buy-ticket .each-buy button a{
    text-decoration: none;
    color: #fff;
}

.container .tour .art-tour .buy-ticket .each-buy button:hover{
    background-color: lightgray;
    color: #000;
}

.container .tour .art-tour .buy-ticket .each-buy button:hover a{color: #000;}